.message{data: {message: {id: message.id}}}
  .main_chat__messages__message
    .main_chat__messages__message__info__talker
      = message.user.name
    .main_chat__messages__message__info__date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .main_chat__messages__message__text
    - if message.content.present?
      %p.main_chat__messages__message__text__content
        = message.content
    = image_tag message.image.url, class: 'main_chat__messages__message__text__image' if message.image.present?